@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&family=Montserrat:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'poppins';
}

/*----------------------------------------------------//nav-section//---------------------------------*/
.navbar-brand img {
    width: 340.1px;
    height: 89.5;
}

.navbar-nav .nav-item .nav-link {
    color: #083D77;
    font-size: 10px;
    font-weight: 600;
    font-family: 'DM Sans', sans-serif;
}

.navbar-nav .nav-item .nav-link.active {
    position: relative;
    display: inline-block;
    padding-bottom: 4px;
}

.navbar-nav .nav-item .nav-link.active::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 15%;
    /* Adjust the position to center the border */
    width: 70%;
    /* Set the width to 50% */
    height: 4px;
    background-color: #F05B8D;
}

.navbar-nav .nav-item {
    margin-right: 5px;
}

.navbar-brand img {
    width: 340.1px;
    height: 89.5;
}

.navbar-nav .nav-item .nav-link {
    color: #083D77;
    font-size: 15px;
    font-weight: 600;
    font-family: 'DM Sans', sans-serif;
    margin-left: 5.5px
}

.navbar-nav .nav-item .btn-success {
    --bs-btn-color: #fff;
    --bs-btn-bg: #F05B8D;
    --bs-btn-border-color: none;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #F05B8D;
    --bs-btn-hover-border-color: none;
    --bs-btn-focus-shadow-rgb: 60, 153, 110;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #F05B8D;
    --bs-btn-active-border-color: #F05B8D;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #F05B8D;
    --bs-btn-disabled-border-color: #F05B8D;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 3px;
    color: white;
    background-color: #F05B8D;
    font-weight: 800;
    font-size: 17px;
    border-radius: 7px;
    font-family: 'poppins';
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 15px;
    padding-right: 15px;
}

.about-img {
    margin-top: 20px;
    position: absolute;
    left: 46.5%;
}



/*-------------------------------------------//nav-section//------------------------------------------*/
/*-------------------------------------------about-section-------------------------------------------*/
.about-section {
    background-image: linear-gradient(to right, #F15C8E, #F15C8E, #F687AD, #FFF4F7);
    padding-left: 0px;
}

.about-heading {
    color: #fff;
    font-weight: 700;
    font-size: 66px;
    font-family: 'Montserrat', sans-serif;
}

.about-heading1 {
    color: #083D77;
    font-weight: 700;
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;
}

.about-img {
    margin-top: 20px;
    position: absolute;
    left: 46.5%;
}

.about-para {
    color: #fff;
    font-size: 18px;
    font-weight: 500;
}

.about-para1 {
    color: #000;
    font-size: 19.5px;
    font-weight: 300;
}

.about-section .btn {
    --bs-btn-border-radius: 10px;
    border: 2px solid var(--bs-btn-border-color);
    font-family: 'poppins';
    font-size: 28px;
}

.about-section .btn-success {
    --bs-btn-color: #fff;
    --bs-btn-bg: #083D77;
    --bs-btn-border-color: none;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #083D77;
    --bs-btn-hover-border-color: none;
    --bs-btn-focus-shadow-rgb: 60, 153, 110;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #083D77;
    --bs-btn-active-border-color: #083D77;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #083D77;
    --bs-btn-disabled-border-color: #083D77;
    font-weight: 700;
    font-size: 28px;
    letter-spacing: 3px;
}

/*-------------------------------------------//about-section//-------------------------------------------*/
/*------------------------------------------------------work-section-------------------------------------*/

.heading1 {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    font-family: 'Montserrat', sans-serif;

}

.heading1 h2 {
    color: #083D77;
    font-weight: 700;
}

.heading1::before,
.heading1::after {
    content: "";
    flex-grow: 1;
    height: 4px;
    background-color: #F05B8D;
    /* Line color */
    margin: 0 10px;
}

.work-section {
    background-color: #FDEBF1;

}

.work-section .card {
    --bs-card-border-color: none;
    --bs-card-border-radius: none;
    width: 330.3;
    height: 384.5;
}

.work-section img {
    width: 278.1px;
    height: 270.8px
}

.work-section .card-img-top {
    display: block;
    margin: 0 auto;
    /* Center the image */
}

.work-section .card {
    --bs-card-border-color: none;
    --bs-card-border-radius: none;
    width: 340.3;
    height: 384.5;
}

.work-section .card-title {
    background-color: #F05B8D;
    color: #fff;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    margin-top: -9px;
}

/*------------------------------------------------------//work-section//----------------------------------------*/
/*------------------------------------------------stats-section-----------------------------------------*/
.stats-section .card-img-top {
    display: block;
    margin: 0 auto;
    /* Center the image */
}

.stats-section {
    padding: 100px;
    padding-top: 30px;
}

.stats-section img {
    width: 93.3px;
    height: 80px;
    object-fit: contain;
}

.stats-section .card {
    width: 278.1px;
    height: 200.8px;
    --bs-card-border-color: none;
    --bs-card-border-radius: none;
}


.stats-section .card-body .card-text {
    color: #083D77;
    font-size: 17px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
}

/*---------------------------------//stats-section//-----------------------------------------*/
/*----------------------------------testimonial-section------------------------------------*/
.testimonial {
    background-color: #F05B8D;
    width: 280.3px;
    height: 143.5px;
    margin-left: 35px;
    text-align: center;
}

.testimonial1 {
    background-color: #F05B8D;
    width: 280.3px;
    height: 143.5px;
    margin-left: 35px;
    text-align: center;
    margin-left: 0px;
}

.play-button {
    width: 60px;
    height: 60px;
    position: relative;
    top: 50%;
    left: 7%;
    transform: translate(-50%, -50%);
    font-size: 36px;
    color: #fff;
    cursor: pointer;

}

.btn {
    --bs-btn-border-radius: 0px;
    border: 2px solid var(--bs-btn-border-color);
    font-family: 'poppins';
    width: 129;
    height: 44;
}

.btn-success {
    --bs-btn-color: #083D77;
    --bs-btn-bg: transparent;
    --bs-btn-border-color: #083D77;
    --bs-btn-hover-color: #083D77;
    --bs-btn-hover-bg: transparent;
    --bs-btn-hover-border-color: #083D77;
    --bs-btn-focus-shadow-rgb: 60, 153, 110;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #083D77;
    --bs-btn-active-border-color: #083D77;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #083D77;
    --bs-btn-disabled-border-color: #083D77;
    font-size: 18px;
    font-weight: 700;
}

/*----------------------------------//testimonial-section//------------------------------------*/
/*----------------------------------footer-section------------------------------------*/
.footer-section {
    background-color: #F05B8D;

}

.contact-icon img {
    height: 30px;
    width: 30px;
}

.contact-text {
    color: #083D77;
    font-size: 15.5px;
}

.contact-heading {
    color: #fff;
    background-color: #F385AA;
    width: 32%;
    border-radius: 10px;
    font-weight: 700;
    font-size: 22.8px;
}

.contact-heading1 {
    color: #fff;
    background-color: #F385AA;
    width: 78%;
    border-radius: 10px;
    font-weight: 700;
    font-size: 22.8px;
}

.contact-heading2 {
    color: #fff;
    background-color: #F385AA;
    width: 63%;
    border-radius: 10px;
    font-size: 22.8px;
    font-weight: 900;

}

.contact-heading3 {
    color: #fff;
    background-color: #F385AA;
    width: 96%;
    border-radius: 10px;
    font-weight: 700;
    font-size: 22.8px;
}
.contact-para li {
    color: #fff;
    list-style: none;
    font-size: 18px;
    font-weight: 600;
}
hr{
    background-color: #fff;
    opacity: 1;
}
.footer-section1 {
    background-color: #083D77;
    color: #fff;
    font-size: 16px;
}
/*----------------------------------//footer-section//------------------------------------*/
/*----------------------------------Our Work Page------------------------------------*/
.contain {
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
}
.item {
    align-items: center;
    color: white;
    display: flex;
    height: 136.4px;
    justify-content: center;
    width: 267.1;

}
.owl-carousel .owl-nav {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 118%;
    padding: 10px 0px;
    z-index: 1;
    top: 60%;
    transform: translateY(-210%);
    margin-left: -50px
}
.owl-carousel .owl-nav [class*=owl-] {
    font-size: 60px;
    margin: 0 10px;
}
.owl-carousel .owl-nav {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 122%;
    padding: 10px 0px;
    /* Adjust padding as needed */
    z-index: 1;
    top: 50%;
    transform: translateY(-210%);
    margin-left: -58px
}
.owl-carousel .owl-nav img {
    width: 27.8px;
    height: 24.3px;
}
.owl-carousel .owl-nav img:hover{
   background-color: white;
   border-top: 0px solid black;
}

.caro-heading {
    font-size: 70px;
    color: #F05B8D;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
}
.caro-para {
    font-size: 25px;
    font-family: 'poppins';
    font-weight: 500;
    padding: 50px;
    padding-top: 0px;
    padding-bottom: 50px;
}
.stats-icons img {
    width: 107.3;
    height: 107.3;
}
.nav-tabs {
    --bs-nav-tabs-border-width: 0px;
    --bs-nav-tabs-border-color: none;
    --bs-nav-tabs-border-radius: 0px;
    --bs-nav-tabs-link-hover-border-color: none;
    --bs-nav-tabs-link-active-color: var(--bs-emphasis-color);
    --bs-nav-tabs-link-active-bg: var(--bs-body-bg);
    --bs-nav-tabs-link-active-border-color: var(--bs-border-color) var(--bs-border-color) var(--bs-body-bg);
    background-color: #F05B8D;
}
